@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

body {
	background-color: #232363;
	color: white;
	font-family: "Roboto", sans-serif;
	font-size: 18pt;
}

h1 {
	font-family: "Michroma", sans-serif;
	margin-top: 40pt;
	margin-bottom: 50pt;
}

h2 {
	font-family: "Michroma", sans-serif;
	margin-top: 20pt;
	margin-bottom: 40pt;
}

h3 {
	font-family: "Michroma", sans-serif;
	margin-top: 20pt;
	margin-bottom: 20pt;
}

.italic {
	font-style: italic;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 2em;
}

nav ul {
	list-style-type: none;
	display: flex;
}

nav ul li {
	margin-left: 1.25em;
}

nav ul li .selected {
	text-decoration: underline;
	text-underline-offset: 0.4em;
}

nav ul li a {
	text-decoration: none;
	color: white;
}

nav ul li a:hover {
	text-decoration: underline;
	text-underline-offset: 0.4em;
}

img {
	border-radius: 0.5em;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2em 1em 2em;
}

.hero-image {
	width: 50%;
	order: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-text {
	width: 50%;
	order: 2;
}

.buttons {
	margin: 2em 0;
	display: flex;
}

.button {
	background-color: #2d9cdb;
	color: #232363;
	padding: 1em 2em;
	border-radius: 5em;
	text-decoration: none;
}

.button:hover {
	background-color: #ffd700;
}

.button:active {
	background-color: #ffd700;
}

.button + .button {
	margin-left: 1em;
}

main {
	padding: 0 2em;
}

.content {
	display: flex;
	justify-content: space-between;
	gap: 5em;
	align-items: center;
	margin: 5em 0;
}

.image {
	width: 50%;
	order: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	width: 50%;
	order: 2;
}

.big-title {
	font-size: 2em;
	width: 50%;
	order: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.image-inverse {
	order: 2;
}

.text-inverse {
	order: 1;
}

.big-title-inverse {
	order: 2;
	justify-content: flex-start;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 2em;
}

/* #2D9CDB (Bright Cyan): Enhances the cool tone of the blue while providing clarity.
#17A2B8 (Teal): A refined accent that pairs well without overwhelming.
#FFD700 (Gold): Elegant and vibrant, perfect for pemium or celebratory vibes. */
