@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body {
    background-color: #232363;
}

h1 {
    color: white;
    font-family: "Michroma", sans-serif;
    margin-top: 40pt;
    margin-bottom: 30pt;
    margin-left: 20pt;
}

h2 {
    color: white;
    font-family: "Michroma", sans-serif;
    margin-top: 20pt;
    margin-bottom: 40pt;
    margin-left: 20pt;
}

p {
    color: white;
    font-family: "Roboto", sans-serif;
    margin-top: 20pt;
    margin-left: 20pt;
    Margin-right: 20pt;
    font-size: 18pt;
}



